* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  height: 100v;
  display: block;
  color: #f8f8f8;
  font-size: 30px;
}
.container {
  background-color: #000000;
  margin: 10vh auto 0 auto;
  width: 100%;
  height: 600px;
  max-width: 380px;
  border-radius: 30px;
}
.calculator {
  position: relative;
  width: auto;
  height: auto;
  padding: 30px;
}
.display-screen {
  width: auto;
  height: 80px;
  text-align: right;
  font-size: 48px;
  font-weight: 500;
  margin: 0 6px 24px 6px;
}
.display {
  height: 90px;
  display: inline-block;
  scroll-snap-align: end;
}
.output {
  width: auto;
  height: 32px;
  margin: 0 6px 24px 6px;
  text-align: right;
  font-size: 30px;
  margin-bottom: 20px;
}
.grey-button,
.orange-button,
.button {
  width: 67px;
  height: 67px;
  margin: 6px;
  float: left;
  padding: 30px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grey-button {
  background-color: rgb(168, 168, 168);
  color: #000000;
}
.orange-button {
  background-color: rgb(216, 124, 4);
  color: #ffffff;
}
.button {
  background-color: rgb(65, 65, 65);
}
.grey-button:hover {
  background: rgb(166, 166, 166, 0.8);
}
.button:hover {
  background: rgb(51, 51, 51, 0.8);
}

.orange-button:hover {
  background: rgba(235, 139, 4, 0.8);
}
